<% provide( :title, "About Me" ) %>

<ul class="slider">
  <%= render "slides" %>
</ul>

<% if user_signed_in? %>
  <span class="edit-content">
    <%= link_to "Edit Slider Content", :action => "admin_index" %>
  </span>
<% end %>

<!-- to add space below the absolutely positioned slider -->
<div class="spacer"></div>
