<%# Contains table for displaying all the works to the admin so that
  he/she can get a quick overview of all of them %>

<table border="1" class="edit_table invisible">
<% for content in @contents %>
  <tr>
    <td><%= link_to "Edit", edit_work_path( content ), id: "edit_item_#{content.id}" %></td>
    <td><%= button_to "Delete", content, method: "delete", id: "delete_work_#{content.id}" %></td>
  </tr>
<% end %>
</table>
