<div class="gridster">
  <% for content in @contents  %>
    <%= render "work_content_overlay", :content => content %>
    <%# make them into individual rows based on their record's info for
      row, col, sizex, and sizey %>
  <% end %>
  <!-- <ul> -->
  <!--   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> -->
  <!--   </li> -->
  <!--   <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">Hey!</li> -->
  <!--   <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">Hey!</li> -->

  <!--   <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li> -->
  <!--   <li data-row="2" data-col="2" data-sizex="2" data-sizey="2"></li> -->

  <!--   <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li> -->
  <!--   <li data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li> -->
  <!--   <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li> -->

  <!--   <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li> -->
  <!--   <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li> -->

  <!--   <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li> -->
  <!--   <li data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li> -->
  <!-- </ul> -->
</div>
