<div class="content_detail content_<%= content.id %>">
  <div class="lightbox_main">
    <%= render "shared/embedded_video", :content => content %>
  </div>

  <div class="lightbox_bottom"> <!-- this is to go across the bottom and contain header and description -->
    <div class="content_header"> 
      <%= content.header %> <!-- make this have a 50 char limit -->
    </div>

    <div class="content_description"> <!-- make this have a 250 char limit -->
      <%= content.description %>
    </div>
  </div>
</div>
