<% provide( :title, "Edit Work" ) %>
<h3>Edit Work</h3>

<div class="content_preview">
  <%= render "shared/content_lightbox", :content => @content, :edit_page => true %>
</div>

<div class="envelope">
  <%= render "shared/default_grid", :edit_mode => true, :active_record_object => Work %>
</div>

<%= render "works_form" %>
