<% provide( :title, "Works" ) %>

<div class="envelope">
  <%= render "shared/default_grid", :active_record_object => Work %>
</div>

<% if user_signed_in? %>
  <span class="add_new"><%= link_to 'Add New Item', new_work_path %></span>
  <%= render "works_edit_table", contents: @contents %>
<% end %>
