<% provide( :title, "Works" ) %>

<% for content in @contents  %>
  <div class="embedded_video">Embedded video goes here</div>
  <div class="work_header"><%= content.header %></div>
  <div class="work_description"><%= content.description %></div>
<% end %>

<% if user_signed_in? %>
<%= render "works_edit_table", contents: @contents %>
<% end %>
