<% provide( :title, "Works" ) %>

<div class="envelope">
  <%= render "works_grid", :contents => @contents %>
</div>

<% if user_signed_in? %>
  <%= link_to 'Add New Item', new_work_path %>
  <%= render "works_edit_table", contents: @contents %>
<% end %>
