<% provide( :title, "New Work" ) %>
<%= render "head_contents" %>

<span class="invisible current_element_id">
  <%= @content.id %>
</span>

<h3>Add New Work</h3>

<div class="envelope">
  <%= render "shared/default_grid", :draggable => true, :active_record_object => Work %>
</div>

<%= render "works_form" %>
