<% provide( :title, "New Work" ) %>

<h1>Add New Work</h1>

<div class="envelope">
  <%= render "works_grid" %>
</div>

<%= form_for @work do |f| %>
  <%= render "shared/default_record_form", :f => f %>
  <%= f.submit "Save" %>
<% end %>
