<% provide( :title, "New Work" ) %>

<h1>Add New Work</h1>

<%= render "work_content", :content => @content  %>

<%= form_for @work do |f| %>
  <%= render "shared/default_record_form", :f => f %>
  <%= f.submit "Save" %>
<% end %>
