<div class="crop_image_lightbox">
  <button class="close">
    <%= image_tag "close_button.png", size: "48" %> 
  </button>

  <img src=""/> <!-- The uploaded image -->

  <!-- button: "upload different image" -->

  <!-- mini grid from main page, with preview of crop -->
  <div class="gridster-mini">
    <ul>
      <li></li>
    </ul>
  </div>
</div>
