<% if !local_assigns.has_key? :draggable %>
  draggable = false
<% end %>


<div class="gridster <%= "edit_grid" if user_signed_in? %>">
  <% if user_signed_in? %>
    <div class="toggle_edit_tools fake_link">
      Toggle Edit Mode
    </div>
  <% end %>

  <ul>
    <%= render "shared/grid_tiles" %>
  </ul>
</div>


<% if draggable == true %>
  <%= render "shared/grid_position_form", :object => @position %>
<% else %>
  <span class="invisible" id="drag_disabled"></span>
<% end %>
