<% if !local_assigns.has_key? :edit_mode %>
  edit_mode = false
<% end %>


<div class="gridster <%= "edit_grid" if edit_mode %>">
  <% if edit_mode %>
    <div class="toggle_edit_tools">
      <a href=#>Toggle Edit Mode</a>
    </div>
  <% end %>

  <ul>
    <%= render "shared/grid_tiles" %>
  </ul>
</div>


<% if edit_mode %>
  <%= render "shared/grid_position_form", :object => @position %>
<% else %>
  <span class="invisible" id="drag_disabled"></span>
<% end %>
