<!-- Form for keeping track of the positions of each tile in gridster -->
<div class="form">
  <%= form_for object, id: "grid_position_form", :remote => true do |f| %>

    <%= text_field_tag :serialized_array %>

    <%= f.submit "Save" %>
  <% end %>
</div>
