<div class="envelope" style="<%= get_background_css Showreel, @content.id %>">
  <div class="showreel_video_content">
    <%= render "embedded_video", :content => @content %>
  </div>

  <div class="showreel_text_content">
    <%= @content.header %>
    <%= @content.description %>
  </div>
</div>
