<% provide( :title, "Showreel" ) %>

<%= embed_video @content.video_link %>

<%= @content.header %>
<%= @content.description %>

<% if user_signed_in? %>
  <div class="edit_showreel_content">
    <%= link_to "Edit Content", edit_showreel_path(@content) %>
  </div>
<% end %>
