<%# this will contain the control panel for the admin to add new videos and content to the site %>
<%# TODO: add authentication as the first thing %>
<h1>Control Panel</h1>
<h2>Add your pictures and content here</h2>
