// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown {
  display: none;
}

.contact {
  margin-top: 125px;
  margin-left: 55px;
}

.contact_content {
  margin-left: 30px;
}
