// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown {
  display: none;
}

.contact_details_container {
  float: left;
  margin-top: 125px;
  margin-left: 55px;
  width: 450px;

  .contact_details {
    margin-left: 30px;
  }
}


/* Contact form stuff */
.contact_form {
  float: left;
  margin-left: 100px;
  margin-top: 45px;

  .sender_email, .body_form {
    /* background-color: #676460; */
    /* TODO: color the inside of the inputs */
  }

  .body_form {
    margin-top: 25px;
    height: 275px;
  }

  .contact_form_submit {
    background-color: $form_grey;
    margin-top: 10px; 
    margin-left: 10px; 
  }
}

