@import "bootstrap";

$background_tan: #f2e9d8;
$charcoal_grey: #464646;
$selected_blue: #8094a6;

@font-face
{
  font-family: 'fauna-one';
  src: font-url('FaunaOne-Regular.ttf');
}

body
{
  background-color: $background_tan;
  color: $charcoal_grey;
  font-family: 'fauna-one';

  .edit_navbar
  {
    position: relative;
    z-index:99;
    top: -24px;
    left: -1000px;
    float: right;
  }

  #save_reminder
  {
    margin-bottom: 10px;
    color: $selected_blue;
  }

  .edit_content
  {
    position: relative;
    z-index:99;
    top: 233px;
    left: -195px;
    height: 10px;
    margin-bottom: -10px;
    float: left;
  }

  .notice, .alert
  {
    background-color: $background_tan;
    float:left;
    border: 0;
  }

  .container
  {
    h1 
    {
      margin-bottom: 20px;
    }
  }

  .emphasis
  {
    color: $selected_blue;
  }

  #border
  {
    border: black 1px dotted;
    padding-bottom: 60px;
  }

  #titlebar
  {
    background: url("Andrada_Popan_Dorca_titlebar.png");
    width: 655px;
    height: 118px;
    margin-left: 100px;
  }

  //navbar stuff
  .navbar
  {
    // margin-left: 63px;
    padding-left: 0px;

    li
    {
      float:left;
      list-style-type:none;
    }

    a
    {
      font-size: 133%;
      color: #464646;
      display: block;
      margin: 5px auto;
      padding: 0px 41px;
      max-width: 237px;
      &:hover
      {
        color: $selected_blue;
        text-decoration: none;
      }
    }
    a#navbar-first
    {
      padding-left: 30px;
    }

    .selected
    {
      color: $selected_blue;
    }
  }

  .sign_in
  {
    float: right;
    margin-bottom: 10px;
  }
}
