$selected_blue: #8094a6;

.gridster
{
  .gs-w 
  {
    position: absolute;
  }

  li
  {
    list-style-type: none;

    img.tile_image 
    {
      width: 100%;
      height: 100%;
    }
  }

  li.new
  {
    background-color: $selected_blue;
    border: 4px dotted #000;
  }
}

.emphasize_highlighted 
{
  .faded 
  {
    opacity: 0.15;
  }

  .highlighted
  {
    opacity: 1;
  }
}

.edit_tools 
{
  img
  {
    opacity: 1;
  }

  .tile_edit
  {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.toggle_edit_tools
{
  position: absolute;
  left: 68px;
  top: 350px;
}

.tile_delete 
{
  position: absolute;
  top: -4px;
  right: -6px;
}

