<div class="project_media_preview"><%= embed_video project.media_link %></div>
<div class="project_header"><%= project.header %></div>
<div class="project_description"><%= project.description %></div>
