<% provide( :title, "Edit Project" ) %>

<h3>Edit Project</h3>
<div class="envelope">
  <%= render "shared/default_grid", :active_record_object => CurrentProject %>
</div>

<%= render "current_projects_form", :content => @content %>
