<% provide( :title, "Add New Project" ) %>
<%= render "head_contents" %>


<h3>New Project</h3>

<div class="envelope">
  <%= render "shared/default_grid", :draggable => true, :emphasize_highlighted => true, :active_record_object => CurrentProject  %>
</div>

<%= render "current_projects_form", :project => @project %>

<%# <%= render "project_content", :project => @project %>

